global:
  scrape_interval: 15s
  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['alertm:9093']

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: postgres
    static_configs:
      - targets: ['postgres-exporter:9187']